.navbar {
    background-color: white;
}

.quem-somos {
    background-color: #006b40;
    color: white;
}

.margin{
    padding-top: 10px;
    padding-bottom: 60px;
}

.parceiros{
    background-color: turquoise;
}

.bg-footer{
    background-color: #006b40;
    color: white;
}